@use '@styles/definitions' as *;
@use '@styles/mixins' as *;
@use '@styles/typography' as *;

.Footer {
  &__Container {
    max-width: $container-7xl;
    margin-inline: auto;
    padding-block: 5rem;

    @include responsive(sm) {
      padding-block: 6rem;
    }
  }
  &__Copyright {
    @include apply-text(sm);
    color: $color-gray-600;
    text-align: center;
  }
}