@use '@styles/definitions' as *;

html, body {
  min-height: 100vh;
}

#root {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.card-revert-padding {
  margin-inline: calc(-1 * var(--fui-Card--size));
}

.shrink-0 {
  flex-shrink: 0;
}

.block {
  display: block;
}

.color-gray-500 {
  color: $color-gray-500;
}

.Dashboard {
  &__container {
    display: flex;
    height: 100dvh;
  }

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow: hidden;
    
    padding-top: 2rem;
    padding-left: 2rem;
  }

  &__header {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
  }

  &__content {
    flex: 1;
    overflow-y: auto;
  }

  &__innerContent {
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
}