.Marketing {
  position: relative;
  z-index: 1;
  background-color: oklch(0.985 0.002 247.839);
  color: oklch(0.278 0.033 256.848);
  font-Family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  &__container {
    max-width: 120rem;
    padding-inline: 1.5rem;
    margin-inline: auto;
  }
}