.Marketing {
  position: relative;
  z-index: 1;
  background-color: oklch(0.985 0.002 247.839);
  color: oklch(0.278 0.033 256.848);
  font-Family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  &__container {
    max-width: 120rem;
    margin-inline: auto;
  }
}

.Title {
  font-weight: bold;
  background: linear-gradient(to left, #3762c5, #48d5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  font-size: 10rem;
  margin-bottom: 1rem;
}

.Section {
  padding: 2rem;
  width: 90%;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 4px;

  &__title {
    font-size: 2rem;
  }

  &__text {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

}

.Icon {
  width: 10rem;
  height: 10rem;
  color: #3762c5;
}

.FeatureCard {
  width: 100%;
  height: 45rem;
  border-radius: 1.5rem;
  background-color: oklch(0.985 0.002 247.839);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 4px;

  &__icon {
    background-color: white;
    width: 15rem;
    height: 15rem;
    border-radius: 9999rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 4px;

    > * {
      animation: blendIn 1s cubic-bezier(0.65, 0, 0.35, 1);
    }
  }
}

@keyframes blendIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.FeatureGrid {
  display: grid;
  gap: 6rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
  justify-items: center;
  margin: 5rem 10rem 10rem 10rem;
}

.CircleBackground {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  height: 100vh;
  width: 100%;
  background-color: oklch(0.985 0.002 247.839);

  &__cirlce {
    position: absolute;
    bottom: auto;
    left: auto;
    right: 0;
    top: 0;
    height: 31rem;
    width: 31rem;
    transform: translate(-70%, 25%);
    border-radius: 9999px;
    background-color: rgba(0, 120, 212, 0.5); // "rgba(173, 109, 244, 0.5)",
    opacity: 0.5;
    filter: blur(80px);
  }
}

.Line {
  height: 0.2rem;
  width: 35rem;
  background-color: black;
  color: black;
  margin-bottom: 4rem;
}