@use "sass:map";

$sizes: (
  xs: (font-size: 0.75rem, line-height: calc(1 / 0.75)),
  sm: (font-size: 0.875rem, line-height: calc(1.25 / 0.875)),
  base: (font-size: 1rem, line-height: calc(1.5 / 1)),
  lg: (font-size: 1.125rem, line-height: calc(1.75 / 1)),
  xl: (font-size: 1.25rem, line-height: calc(1.75 / 1)),
  2xl: (font-size: 1.5rem, line-height: calc(2 / 1.5)),
  3xl: (font-size: 1.875rem, line-height: calc(2.25 / 1)),
  4xl: (font-size: 2.25rem, line-height: calc(2.5 / 2)),
  5xl: (font-size: 3rem, line-height: 1),
  6xl: (font-size: 3.75rem, line-height: 1),
  7xl: (font-size: 4.5rem, line-height: 1),
  8xl: (font-size: 6rem, line-height: 1),
  9xl: (font-size: 8rem, line-height: 1)
);

@mixin apply-text($size) {
  $style: map.get($sizes, $size);

  @if $style {
    font-size: map.get($style, font-size);
    line-height: map.get($style, line-height);
  } @else {
    @warn "Text size '#{$size}' not found in $sizes map.";
  }
}

$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;