.NavBar {
  position: sticky;
  top: 0;
  overflow-y: visible;
  width: 95px;
  height: 100dvh;
  
  background-color: var(--colorNeutralBackground3);
  padding-block: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__Items {
    display: flex;
    flex-direction: column;
  }

  &__Item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem .25rem;
    gap: .125rem;

    position: relative;

    &:hover {
      text-decoration: underline;
    }
  }

  &__ItemLabel {
    text-align: center;
  }
}